fastapi
uvicorn
sqlalchemy
python-dotenv
requests
passlib
bcrypt
python-multipart
email-validator
pydantic
#psycopg2-binaryannotated-types==0.7.0
bcrypt==4.0.1
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
passlib==1.7.4
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
python-multipart==0.0.21
typing-inspection==0.4.2
typing_extensions==4.15.0
python-jose==3.3.0
transformers
